*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center; /*alinhamento vertical*/
    justify-content: center; /*alinhamneto horizontal*/
}


.login{
    display: grid;
    width: 360px;
    height: 400px;    
    align-content: center;
    justify-items: center;
    box-shadow: 3px 3px 10px .5px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .05);
    
    /*-background-image: url('./img/lock.svg');
    background-size: cover;
    background-position: center;*/
}

small{
    visibility: hidden;
    color: red;
}

small.error{
    visibility: visible;
}

.control{
    position: relative;
}

.control img{
    position: absolute;
    height: 18px;
    bottom: 35%;
    right: 10px;
}

img{
    height: 80px;
    margin-bottom: 0;
}

input{
    margin: 5px 0;
}

input[type="button"]{
    font-size: 1.2rem; 
    width: 220px; 
    height: 40px;
    outline: none;
    border: none;
    border-radius: 25px;
    background: #ff4f4f;
    color: #ffffff;
    cursor: pointer;
}

input[type="text"],
input[type="password"]{
    padding: 8px 16px;  
    border-radius: 4px;  
    border: 1px red solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}